<clickhouse>
  <profiles>
    <default>
      <max_threads>16</max_threads>

      <max_insert_threads>8</max_insert_threads>

      <max_memory_usage>12000000000</max_memory_usage>

      <max_bytes_before_external_group_by>4000000000</max_bytes_before_external_group_by>
      <max_bytes_before_external_sort>4000000000</max_bytes_before_external_sort>
      <max_bytes_before_external_join>2000000000</max_bytes_before_external_join>

      <connect_timeout>10</connect_timeout>
      <receive_timeout>300</receive_timeout>
      <send_timeout>300</send_timeout>

      <max_execution_time>0</max_execution_time>
    </default>
  </profiles>
</clickhouse>